* {
  box-sizing: border-box;
}

h2 {
  color: #32cd32;
  text-align: center;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #32cd32;
  height: 50px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  color: white;
}
#banner {
  text-align: center;
}

#banner-image {
  max-width: 100%;
  border-radius: 0 0 3rem 3rem;
  border-bottom: 10px solid #32cd32;
  border-top: 10px solid #32cd32;
}
.product-list {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  border-bottom: 1px solid #32cd32;
  padding-bottom: 10px;
  width: calc(100% / 2 - 2rem);
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.link a {
  text-align: right;
}

.product-image {
  border-radius: 2rem;
  max-width: 300px;
}
